*{
    margin: 0;
    padding: 0;
    font-family: 'Sanchez', serif;
  }
  
  .header{
    min-height: 100vh;
    width: 100%;
    background-image: url(../images/home-back1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
  }
  .hello{
    min-height: 100vh;
    width: 100%;
    background-image: url(../images/home-back1.jpg);

    background-position: center;
    background-size: cover;
    position: relative;
  }
  
  /* NAV TAG: Places nav list on upper righthand corner of the homepage */
  nav{
    display: flex;
    padding: 1% 4%;
    justify-content: space-between;
    align-items: center;
  }
  
  /* NAV TAG: Places nav list on upper righthand corner of the homepage */
  nav img{
    width: 150px;
  }
  
  /* NAV-LINKS div: Right-aligns the nav list*/
  .nav-links{
    flex: 1;
    text-align: right;
  }
  
  /* NAV-LINKS div: Lines up the list horizontally and removes bulletpoints*/
  .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  }
  
  /* NAV-LINKS div: Formats the nav list*/
  .nav-links ul li a{
      color: #fff;
      text-decoration: none;
      font-size: 14px;
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
  
  }
  
  /* NAV-LINKS div: Adds hover effect to nav list items: UNHOVERED*/
  .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #FFF;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  
  /* NAV-LINKS div: Adds hover effect to nav list items: HOVERED*/
  .nav-links ul li:hover::after{
    width: 100%;
  }
  
  /* TEXT-BOX div: Sets font format and position*/
  .text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    /* Good: 65 / 65 */
    top: 60%;
    left: 75%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* TEXT-BOX div: Sets header format*/
  .text-box h1{
    font-size: 72px;
  }
  
  /* TEXT-BOX div: Sets paragraph format*/
  .text-box p{
    margin: 10px 0 40px;
    font-size: #fff;
  }
  

  /************CARD STYLE*************/
  .cards {
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
    font-family: sans-serif;
    padding-top: 30px;
  }
  
  .cards * {
    box-sizing: border-box;
  }
  
  .card__image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
    border-top: 2px solid #333333;
    border-right: 2px solid #333333;
    border-left: 2px solid #333333;
  }
  
  .card__content {
    line-height: 1.5;
    font-size: 0.9em;
    padding: 0px;
    background: #fafafa;
    border-right: 2px solid #333333;
    border-left: 2px solid #333333;
  }
  
  .card__content > p:first-of-type {
    margin-top: 0;
  }
  
  .card__content > p:last-of-type {
    margin-bottom: 0;
  }
  
  .card__info {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #555555;
    background: #eeeeee;
    font-size: 0.8em;
    border-bottom: 2px solid #333333;
    border-right: 2px solid #333333;
    border-left: 2px solid #333333;
  }
  
  .card__info i {
    font-size: 0.9em;
    margin-right: 8px;
  }
  
  .card__link {
    color: #64968c;
    text-decoration: none;
  }
  
  .card__link:hover {
    text-decoration: underline;
  }
  