<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="with=device-width, initial-scale=1.0">
  <title>Harmony</title>
  <link rel="stylesheet" href="../template/style.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Sanchez&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <!-- Create Navigation-->
    <nav>
      <div class="nav-links">
        <ul>
          <li><a href="">HOME</a></li>
          <li><a href="">ABOUT</a></li>
          <li><a href="">LOGIN</a></li>
        </ul>
      </div>
    </nav>
    <!--
    <div class="logo">
      <p>harmony.</p>
    </div>
    -->
  </header>

  <div class="content">
    <p>111Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pharetra tincidunt rutrum. 
      Mauris nec iaculis sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, 
      per inceptos himenaeos. Quisque sit amet metus lectus. Proin dictum sed mauris nec porta. 
      Morbi lobortis malesuada nunc vitae ultricies. Cras tincidunt, sapien nec scelerisque auctor, 
      sapien orci porttitor ligula, vitae molestie tellus velit sit amet magna. 2Lorem ipsum dolor sit amet, 
      consectetur adipiscing elit. Morbi pharetra tincidunt rutrum. 
      Mauris nec iaculis sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, 
      per inceptos himenaeos. Quisque sit amet metus lectus. Proin dictum sed mauris nec porta. 
      Morbi lobortis malesuada nunc vitae ultricies. Cras tincidunt, sapien nec scelerisque auctor, 
      sapien orci porttitor ligula, vitae molestie tellus velit sit amet magna.
    </p>

    <p> Mauris nec iaculis sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, 
      per inceptos himenaeos. Quisque sit amet metus lectus. </p>

      <p>111Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pharetra tincidunt rutrum. 
        Mauris nec iaculis sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, 
        per inceptos himenaeos. Quisque sit amet metus lectus. Proin dictum sed mauris nec porta. 
        Morbi lobortis malesuada nunc vitae ultricies. Cras tincidunt, sapien nec scelerisque auctor, 
        sapien orci porttitor ligula, vitae molestie tellus velit sit amet magna. 2Lorem ipsum dolor sit amet, 
        consectetur adipiscing elit. Morbi pharetra tincidunt rutrum. 
        Mauris nec iaculis sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, 
        per inceptos himenaeos. Quisque sit amet metus lectus. Proin dictum sed mauris nec porta. 
        Morbi lobortis malesuada nunc vitae ultricies. Cras tincidunt, sapien nec scelerisque auctor, 
        sapien orci porttitor ligula, vitae molestie tellus velit sit amet magna.
      </p>

      <p>111Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pharetra tincidunt rutrum. 
        Mauris nec iaculis sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, 
        per inceptos himenaeos. Quisque sit amet metus lectus. Proin dictum sed mauris nec porta. 
        Morbi lobortis malesuada nunc vitae ultricies. Cras tincidunt, sapien nec scelerisque auctor, 
        sapien orci porttitor ligula, vitae molestie tellus velit sit amet magna. 2Lorem ipsum dolor sit amet, 
        consectetur adipiscing elit. Morbi pharetra tincidunt rutrum. 
        Mauris nec iaculis sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, 
        per inceptos himenaeos. Quisque sit amet metus lectus. Proin dictum sed mauris nec porta. 
        Morbi lobortis malesuada nunc vitae ultricies. Cras tincidunt, sapien nec scelerisque auctor, 
        sapien orci porttitor ligula, vitae molestie tellus velit sit amet magna.
      </p>

      <p>111Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pharetra tincidunt rutrum. 
        Mauris nec iaculis sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, 
        per inceptos himenaeos. Quisque sit amet metus lectus. Proin dictum sed mauris nec porta. 
        Morbi lobortis malesuada nunc vitae ultricies. Cras tincidunt, sapien nec scelerisque auctor, 
        sapien orci porttitor ligula, vitae molestie tellus velit sit amet magna. 2Lorem ipsum dolor sit amet, 
        consectetur adipiscing elit. Morbi pharetra tincidunt rutrum. 
        Mauris nec iaculis sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, 
        per inceptos himenaeos. Quisque sit amet metus lectus. Proin dictum sed mauris nec porta. 
        Morbi lobortis malesuada nunc vitae ultricies. Cras tincidunt, sapien nec scelerisque auctor, 
        sapien orci porttitor ligula, vitae molestie tellus velit sit amet magna.
      </p>
  </div>



  <footer>
    <h2>ABOUT US</h2>
    <ul>
      <li>1 Washington Sq.</li>
      <li>San Jose, CA 95112</li> 
      <li>+1 408 924 1000</li>
      <li>support@harmony.com</li>
      
    </ul>
  </footer>
  
</body>
</html>
