<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="with=device-width, initial-scale=1.0">
  <title>Edit Profile</title>
  <link rel="stylesheet" href="../template/style.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Sanchez&display=swap" rel="stylesheet">
</head>

<header>
    <!-- NAVIGATION -->
    <nav>
      <h2 class="logo">
        harmony.
      </h2>
      <div class="nav-links">
        <ul>
          <li><a href="">HOME</a></li>
          <li><a href="">DASHBOARD</a></li>
          <li><a href="">LOGOUT</a></li>
        </ul>
      </div>
    </nav>
  </header>

  
<body>
  <!-- CONTENT -->  
  <div class="content">
    <div class="editcontainer">
        <div class="title">Edit Profile</div>
        <form action="#">
            <div class="user-info">
                <div class="input-box">
                    <span class="info">First name</span>
                    <input type="text" placeholder="Enter your first name" required>
                </div>

                <div class="input-box">
                    <span class="info">Last name</span>
                    <input type="text" placeholder="Enter your last name" required>
                </div>

                <div class="input-box">
                    <span class="info">Email</span>
                    <input type="text" placeholder="Enter your email" required>
                </div>
                
                <div class="input-box">
                    <span class="info">Role</span>
                    <select name="role">
                        <option value="applicant">Applicant</option>
                        <option value="recruiter">Recruiter</option>
                    </select>
                </div> 
                 
            </div>

            

            <div class="resume-box">
                <span class="info">Resume</span>
                <input type="file" name="upload" accept="resume/pdf"/>
            </div>
            <div class="button">
                <input type="submit" value="Save">
                <input type="submit" value="Cancel">
            </div>
        </form>
        
    </div>
  </div>
</body>

<!-- FOOTER -->
<footer>
<h2>ABOUT US</h2>
<ul>
    <li>1 Washington Sq.</li>
    <li>San Jose, CA 95112</li> 
    <li>+1 408 924 1000</li>
    <li>support@harmony.com</li>
    
</ul>
</footer>
  

</html>
